---
title: Elérhetőség
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                {% include call.html show_button=false %}
                <div class="content mt-4">{{content}}</div>
                <div class="content mt-4">
                    <div class="col">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2697.3141760649823!2d19.15786981574831!3d47.464306805789846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741c3d9411316ad%3A0x82556c79323ee2b7!2zSsOzcG9GYSBMYXBzemFiw6FzemF0!5e0!3m2!1sen!2shu!4v1650191938183!5m2!1sen!2shu"
                            width="100%" height="450" style="border:0; margin-left: auto; margin-right: auto;"
                            allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
